In [2]:
import numpy as np
import pandas as pd
import string

In [3]:
dic = {
    "Physics":np.random.randint(0,100,1000),
    "Maths":np.random.randint(0,100,1000),
    "Chemistry":np.random.randint(0,100,1000),
    "Eng":np.random.randint(0,100,1000),
    "Ur":np.random.randint(0,100,1000)
}

df = pd.DataFrame(dic)
df

     Physics  Maths  Chemistry  Eng  Ur
0         93     12          0   91  99
1         54     62         33   87  98
2         65     55         12   84  68
3         38     75          4    1  26
4         56     97         54   10  83
..       ...    ...        ...  ...  ..
995       86      2         76   59   2
996       97     53         48   76  29
997        6     51         31   26  90
998       95     18         56   60  83
999       88     42          0   41  77

[1000 rows x 5 columns]

In [4]:
names = list(string.ascii_uppercase)

try:
    names = names + [1/0 if i+j == "XFE" else names.append(i+j) for i in names for j in list(string.ascii_uppercase)]
except:
    pass

In [5]:
rows = np.empty((1000,len(names)),str)

pd.DataFrame(rows,columns=names)

    A  B  C  D  E  F  G  H  I  J   ... XEU XEV XEW XEX XEY XEZ XFA XFB XFC XFD
0                                  ...
1                                  ...
2                                  ...
3                                  ...
4                                  ...
..  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995                                ...
996                                ...
997                                ...
998                                ...
999                                ...

[1000 rows x 16384 columns]