In [3]:
import numpy as np
import pandas as pd
import string

In [4]:
dic = {
    "Physics":np.random.randint(0,100,1000),
    "Maths":np.random.randint(0,100,1000),
    "Chemistry":np.random.randint(0,100,1000),
    "Eng":np.random.randint(0,100,1000),
    "Ur":np.random.randint(0,100,1000)
}

df = pd.DataFrame(dic)
df

     Physics  Maths  Chemistry  Eng  Ur
0         79      1         21   59  39
1          9     34         21   54  52
2         67     23         39   83  93
3         58     98         99   28  57
4          9     54         45   23  68
..       ...    ...        ...  ...  ..
995       78     27         51   40  23
996       56     62         36   75  99
997       44     18         62   53   2
998       84     87         71   65  20
999       51     63         97   60  97

[1000 rows x 5 columns]

In [5]:
names = list(string.ascii_uppercase)
stopList = ["XFD"]
try:
    names = names + [1/0 if i+j == "XFE" else names.append(i+j) for i in names for j in list(string.ascii_uppercase)]
except:
    pass

In [9]:
rows = np.empty((1000,len(names)),str)

pd.DataFrame(rows,columns=names)

    A  B  C  D  E  F  G  H  I  J   ... XEU XEV XEW XEX XEY XEZ XFA XFB XFC XFD
0                                  ...
1                                  ...
2                                  ...
3                                  ...
4                                  ...
..  .. .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995                                ...
996                                ...
997                                ...
998                                ...
999                                ...

[1000 rows x 16384 columns]